name: Unity Android Build

on:
  push:
    branches: [ "main" ]
    paths:
      - 'unity_project/**'
  pull_request:
    paths:
      - 'unity_project/**'
  workflow_dispatch:

env:
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
  UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
  UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
  UNITY_SERIAL: ${{ secrets.UNITY_SERIAL }}

jobs:
  buildAndroid:
    name: Build for Android
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Cache Library
        uses: actions/cache@v3
        with:
          path: unity_project/Library
          key: Library-${{ hashFiles('unity_project/Assets/**', 'unity_project/Packages/**') }}
          restore-keys: |
            Library-

      - name: Build Android
        uses: game-ci/unity-builder@v4
        with:
          projectPath: unity_project
          targetPlatform: Android
          unityVersion: 2022.3.20f1
          androidAppBundle: false
          androidKeystoreName: user.keystore
          androidKeystoreBase64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
          androidKeystorePass: ${{ secrets.ANDROID_KEYSTORE_PASS }}
          androidKeyaliasName: ${{ secrets.ANDROID_KEYALIAS_NAME }}
          androidKeyaliasPass: ${{ secrets.ANDROID_KEYALIAS_PASS }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Android Build
          path: unity_project/build/Android
